//------------------------------------------------------------------------------
// Definition lists

// A definition list with a line between each item
//
// For more information on the Bootstrap mixins, see
// https://v4-alpha.getbootstrap.com/layout/grid/#mixins

/*
#proper-page img {
    width: 100%;
}
*/


body { scroll-behavior: smooth; }

blockquote.umbrella {
    border-top: 2px solid #bbbbbb;
    border-right: 2px solid #bbbbbb;
    border-left: 2px solid #bbbbbb;
    border-radius: 1em 1em 0 0;
    padding: 0.5rem 1rem 0 1rem;
}

code.white {
    background-color: white !important;
    background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.07) 50%) !important;
}

code.yellow {
    background-color: #ffffee !important;
    background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.06) 50%) !important;
}

code.green {
    background-color: #eeffee !important;
    background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.05) 50%) !important;
}

table, ol ol, ul ul, ol ul, ul ol {
    margin-bottom: 1rem;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 0.7rem;
  line-height: 1.4;
  white-space: pre;
  overflow: auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: .5rem;
  font-family: monospace;
  code {
    color: inherit;
    background-color: transparent;
    padding: 0;
    display: block;
  }
  .line-number {
      display: block;
      float: left;
      margin: 0 1em 0 -1em;
      border-right: 1px solid #ddd;
      text-align: right;
      span {
          display: block;
          padding: 0 .5em 0 1em;
          color: #aaa;
      }
  }
  .cl {
      display: block;
      clear: both;
  }
}

div#proper-page table tbody tr td {
    padding: 0.5em;
    border: 1px solid black !important;
}

div#proper-page > div > table {
    margin-bottom: 1em;
}

h2, h3, h4, h5, h6 {
    margin-top: 2rem;
}

nav.table-of-contents:before {
    content: "Contents";
    display: block;
    font-size: 150%;
    font-weight: bold;
}

nav.table-of-contents > ol > li > ol {
  display: none;
}

.small-caps {
    font-variant: small-caps;
}

blockquote {
    border-left: 12px solid #ccc;
    padding-left: 1em;
}

.button-link {
    border: 6px solid rgb(1, 96, 41);
    padding: 0.6rem;
    border-radius: 1.5rem;
    color: #555;
    font-size: smaller;
}

.button-link:hover {
    background: rgba(1, 96, 41, 0.08);
    text-decoration: none;
    color: #555;
}
 
h3 {
    font-size: 1.5rem !important;
}

h4 {
    font-size: 1.2rem !important;
}

h5 {
    font-size: 1rem !important;
    font-style: italic;
}

h6 {
    font-size: 1rem !important;
    font-decoration: underline;
}

h2.dividers {
    margin-top: 1em;
    border-top: 8px solid #ccc;
    padding-top: 0.75em;
}

div#langselector {
    position: sticky;
    z-index: 100;
    margin:0px 0px 1em 0px;
    text-align: center;
    @include media-breakpoint-down(xs) {
        top: 51px;
    }
    @include media-breakpoint-up(xs) {
        top: 56px;
    }
    @include media-breakpoint-up(md) {
        top: 56px;
    }
    @include media-breakpoint-up(lg) {
        top: 116px;
    }
    > div {
      display: inline-block;
      margin-top: 2px;
      padding: 0.2em 0.5em;
      font-weight: bold;
      background: #efefef;
      border: 2px solid #999999;
      border-radius: 1em;
      color: #aaaaaa;
      cursor: pointer;
    }
    > div.checked {
      color: black;
    }
}
.index-list {

    > div {
        padding: 0.75rem;
    }

    > div:first-child {
        position: -webkit-sticky;
        position: sticky;
        font-weight: bold;
        background: white;
        z-index: 100;
        @include media-breakpoint-only(xs) {
            display: none;
        }
        @include media-breakpoint-down(md) {
            top: 50px;
        }
        @include media-breakpoint-up(lg) {
            top: 110px;
        }
    }

   > div:not(:first-child) {
        z-index: 50;
        
        > div:first-child {
            font-weight: bold;
        }

    }
    
    > div:nth-of-type(even) {
        background-color: $table-bg-accent;
    }

}

.dl-group {
  // Pad the entire definition list
  padding: .75rem 1.25rem;

  // A group containing a term and its description
  > .dl-group-item {
    // Create a wrapper for a series of Bootstrap columns
    @include make-row();

    // Add a border after every term/description pair except the last one
    &:not(:last-child) {
      border-bottom:  1px solid rgba(0,0,0,0.1);
    }

    // Remove margins above the first term/description pair
    &:first-child > dt, &:first-child > dt > a, &:first-child > dd {
      margin-top: 0;
    }

    // Remove margins below the last term/description pair
    &:last-child > dt, &:last-child > dd {
      margin-bottom: 0;
    }

    // A term
    > dt {

      @include make-col-ready();

      @include media-breakpoint-only(md) {
        @include make-col(2);
      }
      @include media-breakpoint-up(lg) {
        @include make-col(2);
      }

      > a {
          // Add margins above and below each term  
          padding-top: .75rem;
          padding-bottom: .75rem;
          padding-left: 15px;
          padding-right: 15px;
          margin-top: 0.75rem;
      }

      > a:hover {
          border-radius: 1rem;
          background-color: rgba($maroon, 0.3);

      }
    }

    // A description
    > dd {
      // Add margins above and below each description
      margin-top: .75rem;  
      margin-bottom: .75rem;

      // Make the element grid-ready (applying everything but the width)
      @include make-col-ready();

      &:first-of-type {
        @include media-breakpoint-only(md) {
          @include make-col(10);
        }
        @include media-breakpoint-up(lg) {
          @include make-col(10);
        }
      }
      // Offset/indent any description after the first
      &:not(:first-of-type) {
        @include media-breakpoint-only(md) {
          @include make-col(8);
          @include make-col-offset(4);
        }
        @include media-breakpoint-up(lg) {
          @include make-col(9);
          @include make-col-offset(3);
        }
      }
      > p {
          white-space: pre-line;
      }
    }
  }
  // A group item that spoofs first-position treatment. Used when
  // actual first-position element is hidden.
  > .dl-group-item.first-item {
      > dt {
          margin-top: 0;
      }
      > dd {
          margin-top: 0;
      }
  }
// A group item that spoofs last-position treatment. Used when
  // actual first-position element is hidden.
  > .dl-group-item.last-item {
      border-bottom: none;
      > dt {
          margin-bottom: 0;
      }
      > dd {
          margin-bottom: 0;
      }
  }
  // A group item that is reluctant to flip to vertical alignment
  > .dl-group-item.stubborn {
    > dt {
      @include media-breakpoint-only(sm) {
        @include make-col(5);
      }
    }
    > dd {
      &:first-of-type {
        @include media-breakpoint-only(sm) {
          @include make-col(7);
        }
      }
      &:not(:first-of-type) {
        @include media-breakpoint-only(sm) {
          @include make-col(7);
          @include make-col-offset(5);
        }
      }
    }
  }
}
