{% extends "main.html" %}
{% block content %}
<h2>Address</h2>

<address>
  <strong>Nagoya University Graduate School of Law (Higashiyama Campus)</strong>
  <br>
  1 Furocho, Chikusa Ward
  <br>
  Nagoya, Aichi Prefecture 464-0814
  <br>
</address>
<div class="embed-responsive embed-responsive-4by3 my-3">
  <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3262.1253138185193!2d136.96538431561711!3d35.153495366339605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60037aa30bb663e3%3A0x464c087fdf7fafa3!2z5ZCN5Y-k5bGL5aSn5a2m!5e0!3m2!1sja!2sjp!4v1490233416250" allowfullscreen></iframe>
</div>

<h2>Transit Directions</h2>

<p>From <strong>Nagoya Station</strong>:</p>
<ol>
  <li>Take the Higashiyama Subway Line to Motoyama Station.</li>
  <li>Transfer to the Meijo Subway Line to Nagoya Daigaku Station.</li>
  <li>Exit the station and make your way to the school (shown on the map at the top of this page).</li>
</ol>
<p>You can also explore other options on <a href="https://goo.gl/maps/aa7WGnBrNLS2">Google Maps</a>.</p>
<div class="embed-responsive embed-responsive-4by3 my-3">
  <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d52185.303008080315!2d136.88953556147578!3d35.16705812660742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e3!4m5!1s0x600376e794d78b89%3A0x81f7204bf8261663!2sNagoya+Station%2C+Nagoya%2C+Aichi+Prefecture!3m2!1d35.170915!2d136.8815369!4m5!1s0x60037aa30bb663e3%3A0x464c087fdf7fafa3!2sNagoya+University%2C+Chikusa+Ward%2C+Aichi+Prefecture!3m2!1d35.153490999999995!2d136.967573!5e0!3m2!1sja!2sjp!4v1490233684145" allowfullscreen></iframe>
</div>

<p>From <strong><a href="http://www.centrair.jp/en/">Chubu Centrair International Airport (NGO)</a></strong>:</p>
<ol>
  <li>Take the Meitetsu Airport Line to Kanayama Station.</li>
  <li>Transfer to the Meijo Subway Line to Nagoya Daigaku Station.</li>
  <li>Exit the station and make your way to the school (shown on the map at the top of this page).</li>
</ol>
<p>You can also explore other options on <a href="https://goo.gl/maps/7XV6SFv8Stm">Google Maps</a>.</p>
<div class="embed-responsive embed-responsive-4by3 my-3">
  <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d209151.23853045338!2d136.7510035703791!3d35.00700295841907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e3!4m5!1s0x60047d93edcc29cf%3A0x42987d286e2c0025!2sCh%C5%ABbu+Centrair+International+Airport%2C+Tokoname%2C+Aichi+Prefecture!3m2!1d34.8590935!2d136.81460049999998!4m5!1s0x60037aa30bb663e3%3A0x464c087fdf7fafa3!2z44CSNDY0LTA4MTQg5oSb55-l55yM5ZCN5Y-k5bGL5biC5Y2D56iu5Yy65LiN6ICB55S677yRIOWQjeWPpOWxi-Wkp-Wtpg!3m2!1d35.153490999999995!2d136.967573!5e0!3m2!1sja!2sjp!4v1490233092632" allowfullscreen></iframe>
</div>
{% endblock %}
