<div class="card my-3">
  <div style="position: absolute;top:4px;right:10px;">
    <a data-toggle="tooltip" title="Announcements calendar" href="{{ toppath }}/announcements.ics">
      <img src="{{ toppath }}/assets/icons/calendar.svg" height="36px"/>
    </a>
  </div>
  <h4 class="card-header">Announcements</h4>
  <dl class="dl-group">
    {% for announcement in announcements %}
    <div class="dl-group-item stubborn">
      <dt style="background: #f2f2f2;"></dt>
      <dd>
        <p style="font-size: 110%;">{{ announcement.announcement }}</p>
        {% if announcement.deadline %}
        <div class="card">
          <dl class="dl-group">
            <div class="dl-group-item stubborn">
              <dt>{{ announcement.deadline.label }}</dt>
              <dd>{{ announcement.deadline.date }}</dd>
            </div>
          </dl>
        </div>
        {% endif %}
      </dd>
    </div>
    {% endfor %}
  </dl>
</div>
