<div style="box-sizing:border-box;">
  <h1 style="text-align:center;">
    Jurism Research Tools
  </h1>
  <div style="display:inline-block;box-sizing:border-box;width:49%;padding:1em;">
    <div style="width:100%;border:1px solid black;border-radius:2em;padding:1em 0px;box-shadow: 5px 10px 8px #999999;">
      <h2 style="text-align:center;">Library Client</h2>
      <img src="assets/icons/library.svg" style="width:100%;"/>
    </div>
  </div>
  <div style="display:inline-block;box-sizing:border-box;width:49%;padding:1em;">
    <div style="width:100%;border:1px solid black;border-radius:2em;padding:1em 0px;box-shadow: 5px 10px 8px #999999;">
      <h2 style="text-align:center;">Browser Connector</h2>
      <img src="assets/icons/browser.svg" style="width:100%;"/>
    </div>
  </div>
</div>
