<div class="card my-3">
  <div style="position: absolute;top:4px;right:10px;">
    <a data-toggle="tooltip" title="Events calendar" href="{{ toppath }}/events.ics">
      <img src="{{ toppath }}/assets/icons/calendar.svg" height="36px"/>
    </a>
  </div>
  <h4 class="card-header">Events</h4>
  <dl class="dl-group">
    {% for event in events %}
    <div class="dl-group-item stubborn">
      <dt style="background: #f2f2f2;"><a href="events/{{ event.fn }}.html">{{ event.type }}</a></dt>
      <dd>
        <p style="font-size: 110%;">“{{ event.title }}”</p>
        <div class="card">
          <dl class="dl-group">
            <div class="dl-group-item stubborn">
              <dt>presenter</dt>
              <dd>{{ event.names.loong }}</dd>
            </div>
            <div class="dl-group-item stubborn">
              <dt>date</dt>
              <dd>{{ event.startDate }}{% if event.isPlural %}—{{ event.endDate }}{% endif %}</dd>
            </div>
          </dl>
        </div>
      </dd>
    </div>
    {% endfor %}
  </dl>
</div>
