<!DOCTYPE html>
<html lang="en">
  <head profile="http://www.w3.org/2005/10/profile">
    <script>
      if (!(window.location.host.startsWith("127.0.0.1")) && !(window.location.host.startsWith("localhost")) && (window.location.protocol != "https:"))
      window.location.protocol = "https";
    </script>
    <title>
      {% if shortTitle %}
        {{ shortTitle }}
      {% else %}
        {% if pageTitle %}
          {{ pageTitle }}
        {% else %}
          {% if shortSubTitle %}
            {{ shortSubTitle }}
          {% else %}
            {{ pageSubTitle }}
          {% endif %}
        {% endif %}
      {% endif %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="keywords" content="Nagoya University Law School, Nagoya University Graduates School of Law, Nagoya University, Meidai, Law Programs, Programs in English, English Program, Japan, Nagoya, Aichi, legal, education, research, college, international, overseas, graduate, undergraduate, lld, llm, Monbukagakusho, Monbusho, globalisation, oda, asian studies"/>

    <meta property="og:type" content="summary"/>
    <meta property="og:image" content="https://www.law.nagoya-u.ac.jp/en/icons/nulogo-square.png"/>
    <meta property="og:description" content="Graduate School of Law"/>
    <meta property="og:title" content="Nagoya University"/>
    <meta property="og:url" content="https://www.law.nagoya-u.ac.jp/en/"/>

    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ toppath }}/favicon.ico"/>

    <!-- Stylesheets -->
    <link href="{{ toppath }}/assets/css/bootstrap.css" rel="stylesheet"/>
    <link href="{{ toppath }}/assets/css/font-awesome.css" rel="stylesheet"/>
    <link href="{{ toppath }}/assets/css/main.css" rel="stylesheet"/>
    {% block customjs %}{% endblock %}
  </head>
  <body onload="attachListener();">
    <!-- Navbar -->
    <nav class="navbar navbar-toggleable-md navbar-light fixed-top">
      <div class="navbar-container">
        <div class="row no-gutters">
          <div class="col bg-faded"><!-- Left gutter --></div>
          <div class="navbar-content">
            <!-- Top half of the navbar (visible on all displays) -->
            <div class="navbar-top-row">
              <!-- Logo and site name -->
              <a class="navbar-brand mr-auto" href="{{ toppath }}/">
                <img src="{{ toppath }}/assets/icons/jurism-logo.svg" style="width: 200px;" alt=" "/>
                <div class="hidden-sm-down" style="display:inline-block;vertical-align:middle;margin-left:0.5em;">
                  <div>
                    The Jurism Reference Manager
                  </div>
                  <div style="font-size:smaller;font-style:italic;font-weight:normal;">
                    for the laws and languages of the world
                  </div>
                </div>
              </a>
              <!-- Inline search form (only visible on larger displays) -->
              <form class="form-inline hidden-md-down">
                <input class="form-control hidden-md-down search" text="text" placeholder="Search&#8230;"/>
                <button class="btn btn-primary search-button" type="submit" role="button">
                  <span class="fa fa-search" aria-hidden="true"/>
                </button>
              </form>
              <!-- Search button (only visible on smaller displays) -->
              <button class="btn btn-primary search-button hidden-lg-up" type="button" data-toggle="collapse" data-target="#mobileSearchMenu" aria-expanded="false" aria-controls="mobileSearchMenu">
                <span class="fa fa-search" aria-hidden="true"/>
              </button>
              <!-- "Hamburger" button -->
              <button class="navbar-toggler btn-primary" type="button" data-toggle="collapse" data-target="#mobileNavMenu" aria-controls="mobileNavMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"/>
              </button>
            </div>
            <!-- Dropdown search menu (only visible on smaller displays) -->
            <form id="mobileSearchMenu" class="collapse hidden-lg-up">
              <div class="input-group">
                <input type="text" class="form-control search" id="mobile-search-text" aria-describedby="query-text"/>
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">
                    Search
                  </button>
                </span>
              </div>
            </form>
            <!-- Collapsible navigation menu (only visible on smaller displays) -->
            <div id="mobileNavMenu" class="collapse navbar-collapse">
              <ul class="navbar-nav w-100 justify-content-between hidden-lg-up">
                
                <li class="nav-item dropdown w-100">
                  <a class="nav-link p-3 dropdown-toggle category-name" href="{{ toppath }}/programs" id="documentation-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Documentation <span class="caret"> </span>
                  </a>
                  <div class="dropdown-menu bg-maroon-translucent w-100" aria-labelledby="documentation-link">
                    
                    <a class="dropdown-item subcategory-name" href="{{ toppath }}/doc/tutorials">&#187; Tutorials</a>
                    <a class="dropdown-item subcategory-name" href="{{ toppath }}/doc/guides">&#187; User Guides</a>
                    <a class="dropdown-item subcategory-name" href="{{ toppath }}/doc/manuals">&#187; Tech Manuals</a>
                    
                  </div>
                </li>
                
                <li class="nav-item dropdown w-100">
                  <a class="nav-link p-3 dropdown-toggle category-name" href="{{ toppath }}/directory" id="downloads-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Downloads <span class="caret"> </span>
                  </a>
                  <div class="dropdown-menu bg-maroon-translucent w-100" aria-labelledby="downloads-link">
                    
                    <a class="dropdown-item subcategory-name" href="{{ toppath }}/download/software">&#187; Software</a>
                    <a class="dropdown-item subcategory-name" href="{{ toppath }}/download/styles">&#187; Citation Styles</a>
                    <a class="dropdown-item subcategory-name" href="{{ toppath }}/download/jurisdictions">&#187; Jurisdiction Packs</a>
                    
                  </div>
                </li>
                
                <li class="nav-item dropdown w-100">
                  <a class="nav-link p-3 dropdown-toggle category-name" href="{{ toppath }}/resources" id="resources-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Links <span class="caret"> </span>
                  </a>
                  <div class="dropdown-menu bg-maroon-translucent w-100" aria-labelledby="resources-link">
                    
                    <a class="dropdown-item subcategory-name" href="https://citationstyles.org">&#187; Citation Style Language (CSL)</a>
                    <a class="dropdown-item subcategory-name" href="https://www.npmjs.com/package/citeproc-test-runner">&#187; Citeproc Test Runner</a>
                    <a class="dropdown-item subcategory-name" href="https://zotero.org">&#187; Zotero</a>
                    
                  </div>
                </li>
                
                <li class="nav-item dropdown w-100">
                  <a class="nav-link p-3 dropdown-toggle category-name" href="{{ toppath }}/alumni" id="support-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Support <span class="caret"> </span>
                  </a>
                  <div class="dropdown-menu bg-maroon-translucent w-100" aria-labelledby="support-link">
                    
                    <a class="dropdown-item subcategory-name" href="{{ toppath }}/support/blog">&#187; Blog</a>
                    <a class="dropdown-item subcategory-name" href="{{ toppath }}/support/list">&#187; Mailing List</a>
                    <a class="dropdown-item subcategory-name" href="{{ toppath }}/support/roadmap">&#187; Roadmap</a>
                    
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col bg-faded"><!-- Right gutter --></div>
        </div>
        <div class="row no-gutters hidden-md-down">
          <div class="col navbar-fixed-height bg-maroon"><!-- Left gutter --></div>
          <div class="navbar-content">
            <!-- Fullscreen navigation menu (only visible on larger displays) -->
            <ul class="navbar-nav w-100 justify-content-between hidden-md-down" id="desktopNavMenu">
              
              <li class="nav-item w-100">
                
                <a class="nav-link p-3 category-name{{ current.programs }}" href="#" id="documentation-link">
                  Documentation
                </a>
                
                <div class="dropdown-nav bg-maroon-translucent w-100">
                  
                  <a class="nav-item subcategory-name" href="{{ toppath }}/doc/tutorials">Tutorials</a>
                  
                  <a class="nav-item subcategory-name" href="{{ toppath }}/doc/guides">User Guides</a>
                  
                  <a class="nav-item subcategory-name" href="{{ toppath }}/doc/manuals">Tech Manuals</a>
                  
                </div>
              </li>
              
              <li class="nav-item w-100">
                
                <a class="nav-link p-3 category-name{{ current.directory }}" href="#" id="downloads-link">
                  Downloads
                </a>
                
                <div class="dropdown-nav bg-maroon-translucent w-100">
                  
                  <a class="nav-item subcategory-name" href="{{ toppath }}/download/software">Software</a>
                  
                  <a class="nav-item subcategory-name" href="{{ toppath }}/download/styles">Citation Styles</a>
                  
                  <a class="nav-item subcategory-name" href="{{ toppath }}/download/jurisdiction">Jurisdiction Packs</a>
                  
                </div>
              </li>
              
              <li class="nav-item w-100">
                
                <a class="nav-link p-3 category-name{{ current.resources }}" href="#" id="resources-link">
                  Links
                </a>
                
                <div class="dropdown-nav bg-maroon-translucent w-100">
                  
                  <a class="nav-item subcategory-name" href="{{ toppath }}/link/csl">Citation Style Language (CSL)</a>
                  
                  <a class="nav-item subcategory-name" href="{{ toppath }}/link/ctr">Citeproc Test Runner</a>
                  
                  <a class="nav-item subcategory-name" href="{{ toppath }}/link/zotero">Zotero</a>
                  
                </div>
              </li>
              
              <li class="nav-item w-100">
                
                <a class="nav-link p-3 category-name{{ current.alumni }}" href="#" id="support-link">
                  Support
                </a>
                
                <div class="dropdown-nav bg-maroon-translucent w-100">
                  
                  <a class="nav-item subcategory-name" href="{{ toppath }}/support/blog">Blog</a>
                  
                  <a class="nav-item subcategory-name" href="{{ toppath }}/support/list">Mailing List</a>
                  
                  <a class="nav-item subcategory-name" href="{{ toppath }}/support/roadmap">Roadmap</a>
                  
                </div>
              </li>
              
            </ul>
          </div>
          <div class="col navbar-fixed-height bg-maroon"><!-- Right gutter --></div>
        </div>
      </div>
    </nav> <!-- .navbar.fixed-top -->

    <div class="site-flex-container">
      <div class="container-fluid mb-auto">
        <div class="row justify-content-center">
          <div class="main-content" role="main" aria-label="Content" style="margin-bottom: 10px;">
            <div id="proper-page">
              {% if pageTitle %}
              {% if suppressTitle %}
              <div class="hidden-xs-down">
              {% endif %}
                <h1 style="margin-bottom: 0.5em;" class="hidden-sm-down">{{ pageTitle }}</h1>
                <h1 class="hidden-md-up">{% if shortTitle %}{{ shortTitle }}{% else %}{{ pageTitle }}{% endif %}</h1>
              {% if suppressTitle %}
              </div>
              {% endif %}
              {% endif %}
              {{ topInsert|safe }}
              {% block content %}
              {% endblock %}
            </div>
            <div id="search-page" style="display: none;">
              <h1 style="margin-bottom: 0.5em;" class="hidden-md-down">Search Results</h1>
              <h1 class="hidden-lg-up" style="margin-top:20px;">Search Results</h1>
              <ul class="searchresults">
                <li>Hello</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <footer class="site-footer container-fluid">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-4">
            <address class="small">
              Graduate School of Law
              <br/>
              Nagoya University
              <br/>
              Furo-chō, Chikusa Ward
              <br/>
              Nagoya, Aichi Prefecture 464-0814
              <br/>
            </address>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div><a class="footer-link small" href="{{ toppath }}/directions">Directions</a></div>
            <div><a class="footer-link small" href="{{ toppath }}/news.atom">Subscribe to News</a></div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div><a class="footer-link small" href="mailto:bennett@law.nagoya-u.ac.jp">Email</a></div>
            <table>
              <cols>
                <col/>
                <col width="100%"/>
              </cols>
              <tr>
                <td>Tel:</td>
                <td><a class="footer-link small" href="tel:052-789-4910">052-789-4910</a> (Japan)</td>
              </tr>
              <tr>
                <td></td>
                <td><a class="footer-link small" href="tel:+81-52-789-4910">+81-52-789-4910</a> (International)</td>
              </tr>
            </table>
          </div>
          <div class="col-sm-6 col-md-6 hidden-lg-up hidden-xs-down" style="postion:relative;">
            <div class="small" style="position:absolute;bottom:0;">&#169; 2007&#8211;2017 Nagoya University Graduate School of Law</div>
          </div>
          <div class="col-sm-6 col-md-6 hidden-sm-up" style="margin-top:0.5em;">
            <div class="small">&#169; 2007&#8211;2017 Nagoya University Graduate School of Law</div>
          </div>
        </div>
        <div class="row hidden-md-down">
          <div class="col-md-12" style="text-align:center;">
            <p class="small">&#169; 2007&#8211;2017 Nagoya University Graduate School of Law</p>
          </div>
        </div>
      </footer>

    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script -->
    <script src="{{ toppath }}/assets/js/jquery-1.12.4-min.js" type="text/javascript"></script -->
    <!-- Tether (required for Bootstrap tooltips to work) -->
    <script src="{{ toppath }}/assets/js/tether.min.js" type="text/javascript"></script>
    <!-- All compiled Bootstrap plugins -->
    <script src="{{ toppath }}/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- Custom Javascript -->
    <script src="{{ toppath }}/assets/js/utility.js" type="text/javascript"></script>
    <script src="{{ toppath }}/assets/js/lunr.js" type="text/javascript"></script>
    <script src="{{ toppath }}/assets/js/loadIndex3.js" type="text/javascript"></script>
  </body>
</html>
