{% extends "main.html" %}
{% block content %}
<h2 class="hidden-sm-down">{{ pageSubTitle }}</h2>
<h2 class="hidden-md-up">{% if shortSubTitle %}{{ shortSubTitle }}{% else %}{{ pageSubTitle }}{% endif %}</h2>
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{{ toppath }}/directory/publications/">&#171; Publications by Subject</a>
  </li>
</ol>
<div class="card my-3">
  <ul class="list-group list-group-flush">
    {% for publication in publications %}
    <li class="list-group-item"><div style="display:inline-block;margin-left:1em;text-indent:-1em;">{{ publication|safe }}</div></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
